@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/drink.css';
@import './css/footer.css';
@import './css/order.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: var(--fontFamily);
  height: 100vh;
}

.prices {
  background-color: var(--backgroundColor);
}

.prices__list {
  padding: 0 var(--marginBig) var(--marginBig) var(--marginBig);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.2rem;
}

.price:nth-child(4) {
  display: none;
}

.visually-hidden {
  display: none;
}

.title_mini {
  text-transform: uppercase;
  margin: var(--marginBig) 0 0 var(--marginBig);
}

.emptystate {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.emptystate__content {
  font-size: var(--fontSizeRegular);
  color: var(--colorGreyDark);
}

@media (width >= 828px) {

  .layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    overflow-y: hidden;
  }

  .prices {
    grid-column: 1 / span 1;
  }

  .content {
    grid-column: 2 / span 1;
    grid-row: 1 / 3;
  }

  .prices__list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .total {
    width: 66%;
  }

  header {
    margin-bottom: -5rem;

  }

  header img {
    position: absolute;
    bottom: 10rem;
  }
}
