@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/drink.css';
@import './css/footer.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: var(--fontFamily);
  height: 100vh;
}

.prices {
  background-color: var(--backgroundColor);
}

.prices__list {
  padding: 0 var(--marginBig) var(--marginBig) var(--marginBig);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.2rem;
}

.price:nth-child(4) {
  display: none;
}

.visually-hidden {
  display: none;
}

.title_mini {
  text-transform: uppercase;
  margin: var(--marginBig) 0 0 var(--marginBig);
}

.emptystate {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.emptystate__content {
  font-size: var(--fontSizeRegular);
  color: var(--colorGreyDark);
}
